[Unit]
Description=besu node service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=<path to cloned repo>/besu-docker/node.sh resume
ExecStop=<path to cloned repo>/besu-docker/node.sh pause
RemainAfterExit=true

[Install]
WantedBy=multi-user.target